@import "tailwindcss";

@theme {
  --color-bg: #ffffff;
  --color-bg-secondary: #f6f7f6;
  --color-text: #131613;
  --color-text-secondary: #748675;
  --color-primary: #4cae4f;
  --color-dark-bg: #1f2937;
  --color-gray: #969da9;
}
