@import "tailwindcss";

@theme {
  --color-bg: #ffffff;
  --color-bg-secondary: #f6f7f6;
  --color-text: #131613;
  --color-text-secondary: #57595b;
  --color-primary: #01399a;
  --color-secondary: #fede00;
  --color-dark-bg: #0d1321;
  --color-gray: #969da9;
}
